body{
    background-color: lightslategray;
    margin:0px;
    padding:0px;
}

.header{
    text-align: center;
    padding-top: 10px;

    height:100px;
    width:100%;
}

#nav{
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding-left: 350px;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#nav li a {
    display: block;
    padding: 8px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}

#nav li a:hover{
    color: #c00;
    background-color: #fff;
}

#nav li{
    float: left;
}

.active{
    background-color: #ffffff;
}

#footer{
    background-color: #000;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}